body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Card Stylings  */

.card { margin: 10px 0px 10px 0px;}
.input-group-prepend { margin: 15px 0px 0px 0px;}

#submit { color: #fff; }
#flag-submission { display: none; }

.flag-input {
    margin: 15px 0px 0px 0px;
    width: 40%;
    text-indent: .5em;
}