body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Scoreboard */
.scoreboard > h4 { margin: 10px 0px 0px 0px}

/* Card Stylings  */

.card { 
    display: flex;
    width: 46% !important;
    height: 330px;
    margin: 10px 40px 10px 0px;
    float: left;
}
.input-group-prepend { margin: 15px 0px 0px 0px;}
.flag-card-message {margin: 10px 0px 0px 0px;}

.flag-input {
    margin: 15px 0px 0px 0px;
    width: 80%;
    text-indent: .5em;
}